*{
    margin: 0;
}

.form-container {
    width: 40%;
    background-color: #DCDCDC	;
    padding: 10px;
    border-right: 2px solid #ffffff;
    padding-right: 20px;

    
}

.input-label {
    display: block !important;
    text-align: left;
    margin-bottom: 40px;
} 

.slider {
    margin-bottom: 10px;
}


.submit-button {
    width: 100%;
}